<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="Email" value="EMAIL_HERE" />
    <add key="Password" value="PASS_HERE" />
    <add key="SendFromEmail" value="EMAIL_HERE" />

    <add key="IncomingHost" value="imap.gmail.com" />
    <add key="OutgoingHost" value="smtp.gmail.com" />
    <add key="IncomingPort" value="993" />
    <add key="OutgoingPort" value="587" />

    <add key="Timeout" value="15000" />

    <add key="DefaultInbox" value="Inbox" />
    <add key="UnreadMessages" value="UNSEEN" />
    <add key="AllMessages" value="ALL" />
  </appSettings>
</configuration>